apiVersion: v1
stringData:
  DEBUG: "false"
  LOGIN_PASSWORD: <YOURPASSWORD>
  LOGIN_USER: <YOURUSERNAME>
  PYTHONPATH: ./venv
  REDIS_HOST: redis
  REDIS_PORT: '6379'
  SELENIUM_URL: 'http://selenium:4444'
  LOGLEVEL: "DEBUG"
  SE_NODE_MAX_SESSIONS: "10"
  VNC_NO_PASSWORD: "1"
  REDIS_REPLICATION_MODE: master
  USER_UID: "1000"
  USER_GID: "1000"
kind: Secret
metadata:
  labels:
    group: ilpostscraper
  name: env

